<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
<h3>Identifiants application Kodaizen note</h3>
<div class="box">
    <p><b>Login: </b>{{ login }}</p>
    <p><b>Mot de passe: </b>{{ password }}</p>
    <p><b>Clé d'activation: </b>{{ secretkey }}</p>
</div>

</body>
</html>